#canvas{
  
    display: block;
  }
  *{
    padding: 0;
    margin: 0;
  }
  body{
    margin: 0px;
    overflow: hidden;
  }
  ol,li{
    list-style: none;
    
  }
  .menu{
      position: fixed;
      top:0;
      left: 10px;
  }
  .menu svg{
    padding: 5px 15px;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
  }
  .menu svg.active{
    fill: red;
    transform: scale(1.2);
    
  }
  #color{
    position: fixed;
    top: 60px;
    left: 16px;

  }
  #size{
    position: fixed;
    top: 30px;
    right: 20px;
  }
  .icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  #color>li{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
  }
  #size>li{
    margin: 10px;

  }
  #color li.active{
    transform: scale(1.2);

  }
  #color li.black{
    background: black;
  }
  #color li.red{
    background-color: red;
  }
  #color li.green{
    background-color: green;
  }
  #color li.pink{
    background-color: pink;
  }
#size .thin{
  width: 30px;
  height: 5px;
  background: black;
}
#size .thick{
  width: 30px;
  height: 10px;
  background: black;
}